.actions {
    padding: 1rem;
    margin: auto;
  }
.actions {
/* background-color: #a892ee; */
padding: 1rem;
/* margin: 2rem auto; */
/* width: 50rem; */
max-width: 95%;
border-radius: 12px;
text-align: center;
/* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25); */
}

.actions button {
font: inherit;
cursor: pointer;
padding: 1rem 2rem;
border: 1px solid #40005d;
background-color: #40005d;
color: white;
border-radius: 12px;
margin-right: 1rem;
}

.actions button:hover,
.actions button:active {
background-color: #510674;
border-color: #510674;
}

.actions button.alternative {
color: #220131;
border-color: transparent;
background-color: transparent;
}

.actions button.alternative:hover,
.actions button.alternative:active {
background-color: #ddb3f8;
}
.button {
  font: inherit;
  border: 1px solid #4f005f;
  background: #4f005f;
  color: white;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
